.genre-bands-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-image: url("./bands-background.jpg");
    margin-top: 10px;
}

.band-name-black-metal {
    font-size: 30px;
    font-family: UnifrakturMaguntia;
    text-shadow: 1px 2px 2px;
}

.band-name-death-metal {
    font-size: 30px;
    font-family: Rubik Wet Paint;
}

.bands-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 50px;
}

.band-desc-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 10%;
    width: 90%;
}

.logo-small {
    width: 250px;
    margin: 10px;
}

.logo-big {
    width: 140px;
    margin: 10px;
}

.band-gold {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    width: 65%;
    text-align: center;
    background-color: black;
    color: white;
    height: 352px;
    border: 5px groove gold;
    margin-right: auto;
    margin-left: 10px;
    margin: 20px;
}

.band-silver {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    width: 65%;
    text-align: center;
    background-color: black;
    color: white;
    height: 352px;
    border: 5px groove silver;
    margin-left: auto;
    margin-right: 10px;
}

.band-bronze {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    width: 65%;
    text-align: center;
    background-color: black;
    color: white;
    height: 352px;
    border: 5px groove rgb(205, 120, 0);
    margin-right: auto;
    margin-left: 10px;
    margin: 20px;
}

.band-genre {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(210, 0, 0);
}

.band-pic {
    width: 35%;
}